xml/Sample.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="SPORTS">
 <xs:complexType>
  <xs:sequence>
   <xs:element name="INFORMATION">
    <xs:complexType>
     <xs:sequence>
      <xs:element name="Product" maxOccurs="unbounded">
       <xs:complexType>
        <xs:sequence>
         <xs:element name="item_name" type="xs:string"/>
         <xs:element name="brand" type="xs:string"/>
         <xs:element name="Price" type="xs:short"/>
        </xs:sequence>
       </xs:complexType>
      </xs:element>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
  </xs:sequence>
 </xs:complexType>
</xs:element>

</xs:schema>